body {
    margin: 0;
    font-family: sans-serif;
    height: 2000px; /* ensure enough scroll space */
}

#chomik {
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: auto;
    z-index: 9999;
}

/* Mobile/Tablet adjustments */
@media (max-width: 950px) {
#chomik {
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: auto;
    z-index: 9999;
}

    }
}
